@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');

.ticket{
    margin: 20px 20px 20px 20px;
    padding: 10px;
    border-radius: 15px;
    border: #4F594F 2px solid;
    box-shadow: 9px 9px 22px -4px rgba(0,0,0,0.62);
    background: white;
}

.ticketImg{
    height: 240px;
}

p.data{
    font-family: 'Kelly Slab', cursive;
    font-size: 18px;
    color: #4e555b;
    margin-bottom: 6px;
}
.ticketImg img{
    border-radius: 15px 0 0 15px;
}
img.image{
    margin-left: auto;
    width: 20px;
    margin-right: auto;
    display: block;
}
.toClean{
    border-radius: 5px;
    border: #4F594F 2px solid;
    background: #F2EAE4;
    font-family: 'Kelly Slab', cursive;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
    color: black;
    text-align: center;
}
#paymentError{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #cb1111;
    font-size: 12px;
    margin: 1px 0 0;
    text-align: center;
}