@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');
.container-fluid{
    background: #F2EAE4;
}

.img404{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
}