@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');


.exhibitions{
    padding: 20px 20px;

}
h5{
    text-align: center;font-family: 'Comfortaa', cursive;
}
.button{
    width: 100%;padding: 5px;text-align: center;font-family: 'Comfortaa', cursive;border-radius: 5px;border: #4F594F 2px solid;
}

select.sorting{
    width: 100%;padding: 5px;text-align: center;font-family: 'Comfortaa', cursive;border-radius: 5px;border: #4F594F 2px solid;
}

.exhibitionCard{
    width: auto;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: #4f594f 2px solid;
    background: white;
    height: 200px;
}
.cardImage{
    border-radius: 10px 0 0 10px;
    margin-top: auto;
    margin-bottom: auto;
    max-height: 180px;
    height: 180px;
}

.sortingBar{
    padding: 20px;
    color: white;
}

.exhibitionCard p{
    color: #4e555b;
    font-size: 13px;
    font-family: 'Kelly Slab', cursive;
    margin-bottom: 2px;
}

.buttonForCard {
    border: #4F594F 2px solid;
    border-radius: 5px;
    font-family: 'Kelly Slab', cursive;
    text-align: center;
    background: #F2EAE4;
    margin-right: 5px;
    margin-left: 5px;
}
input.dataSort{
    width: 100%;
    border: #4F594F 2px solid;
    border-radius: 5px;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}
a.sortingLinks{
    text-align: center;
    color: #ff0500;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    font-size: 13px;
}

a.sortingLinks:hover{
    text-align: center;
    color: #ff0500
}
.col-6.buttonForCardDelete,
.col-6.buttonForCardUpdate{
    border: #4F594F 2px solid;border-radius: 5px;font-family: 'Kelly Slab', cursive;text-align: center;
    background: #F2EAE4;
    margin-right: 5px;
    margin-left: 5px;
}